.name_of_objects{
    color:blue;
}
.heading{
    width:80%;
    font-size:30px;
    color: rgb(0, 255, 128);
    background-color: darkgreen;
}

#op{
    size: 40px;
    color:rgb(146, 146, 34);
}